[user]

    name = Pritesh Chauhan

    email = chauhan.p@husky.neu.edu

[core]

    editor = code

    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol

[color]

    ui = auto

[diff]

    tool = code